@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;900&display=swap');

* {
    font-family: 'Vazirmatn', sans-serif !important;
}

/* Styling for input element to be right to left */

input {
    direction: RTL;
    text-align: start;
}

/* Styling for message content to be right to left */

[data-testid="stChatMessageContent"] p,
[data-testid="stChatMessageContent"] li,
[data-testid="stChatMessageContent"] ol,
[data-testid="stChatMessageContent"] ul{
    text-align: start;
    direction: rtl;
}


[data-testid="stMarkdownContainer"]:has(.reference) {
    display: flex;
    flex-direction: row;
    text-align: left;
    direction: rtl;
}

[data-testid="element-container"] [data-testid="baseButton-secondary"] {
    text-align: center;
    width: 100%;
    /* background-color: rgb(240, 242, 246); /* Transparent background for the box */
    background: rgba(0, 0, 0, 0);
    color: rgb(49, 51, 63);
    inset: 0px;
    color-scheme: light;
    box-sizing: border-box;
}


[data-testid="element-container"] [data-testid="baseButton-primary"] {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #6CB4EE;
    border-color: #6CB4EE;
    border-style: solid;
}

/* background-color: rgb(240, 242, 246); /* Transparent background for the box */

/* Styling the tipbox rtl content */
div.e10yodom1 {
    display: flex;
    justify-content: flex-end;
}

div.stAlert {
    direction: RTL;
    text-align: start; /* the element becomes fixed when the top of the page hits this point */
}

/* Styling for columns in order to be scrollable */

section.main>div {
    padding-bottom: 1rem;
}

[data-testid="column"] {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    height: 80vh;
    box-sizing: border-box;
}

[data-testid="stChatMessageContent"] [data-testid="stHorizontalBlock"] {
    border: 1px dashed #faa81a98;
    background-color: #54c6d01f;
    border-radius: 10px;
}

[data-testid="stChatMessageContent"] [data-testid="column"] {
    height: auto;
    overflow-y: hidden;
}

[data-testid="stChatMessageContent"] [data-testid="stMarkdownContainer"] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: auto;
}

[data-testid="stChatMessageContent"] [data-testid="stMarkdownContainer"] p {
    height: auto;
    padding: 2px;
    margin: 2px;
}

/* Special styling for ussd code */

.ussd-code {
    border: 1px solid #54c5d0;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 3px 0 3px;
    background-color: #54c5d0;
    font-weight: 500;
    color: white;
    text-align: left;
    direction: ltr;
}

.stTextInput p{
    font-family: monospace !important;
    font-size: 10px;
}

[data-testid="stSidebarContent"] [data-testid="baseButton-secondary"] {
    color: #b37400;
    background-color: #fffaf0
}


[data-testid="stSidebarContent"] p {
    direction: "rtl";
    color: rgb(0, 66, 128);
    text-align: end;
}

[data-testid="stSidebarContent"] [data-testid="baseButton-secondary"] {
    background-color: #6CA4CC11;
    border: 1px solid #54c5d0;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}


[data-testid="stFileUploaderDropzone"] {
    background-color: #f0fffe;
}


[data-testid="stVerticalBlockBorderWrapper"] [data-testid="stMarkdownContainer"] p {
    display: flex;
    flex-direction: row;
    text-align: start;
    direction: rtl;
    box-sizing: border-box;
}
